<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../members/members.css">
    <link rel="stylesheet" href="../styles/shared/sideNav.css">
    <link rel="stylesheet" href="../styles/shared/header.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="headerContent">
        <div class="logo">
            <a href="/">
            <img class="kururin" src="../teammates/Kururin.jpg" alt="kururin">
            </a>
        </div>
        <h1 class="title">Welcome to Degital Marketing Squad!</h1>
        </div>
    </header>
</body>
</html>