<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../members/members.css">
    <link rel="stylesheet" href="../styles/shared/sideNav.css">
    <link rel="stylesheet" href="../styles/shared/header.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/signIn.css">
</head>
<body>
    <header>
        <div class="sign-in-and-up">
            <button><a href="assets/views/signIn.html">Sign In</a></button>
            <button>Sign Up</button>
        </div>
        <div class="headerContent">
            <div class="logo">
                <img class="kururin" src="/assets/teammates/Kururin.jpg" alt="kururin">
            </div>
            <h1 class="title">Marketing Tribe - Digital Marketing</h1>
            <nav>
                <ul class="sideNav">
                <li class="sideNavList"><a class="sideNavLink" href="">Home</a></li>
                <li class="sideNavList"><a class="sideNavLink" href="">What we do</a></li>
                <li class="sideNavList"><a class="sideNavLink" href="">Events</a></li>
                <li class="sideNavList"><a class="sideNavLink" href="">Breakfast</a></li>
                <li class="sideNavList"><a class="sideNavLink" href="">New Members!</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="signInForm">
        <form action="" method="post">
            <div class="column">
                Employee ID <input type="text">
            </div>
            <div class="column">
                Password <input type="text">
            </div>
            <div class="column">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</body>
</html>