.sideNavLink{
    
}
.sideNavList{
    padding: 5px;
    flex: 1;
}
.sideNav{
    list-style-type: none;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    padding-left: 0;
  }
  .arrow{
      padding: 1px;
  }