<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/members/members.css">
    <link rel="stylesheet" href="/assets/styles/shared/sideNav.css">
    <link rel="stylesheet" href="/assets/styles/shared/header.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
    <header>
        <div class="headerContent">
        <div class="logo">
            <a href="/">
            <img class="kururin" src="/assets/teammates/Kururin.jpg" alt="kururin">
            </a>
        </div>
        <h1 class="title">Events Schedule!</h1>
        </div>
    </header>
    <div class="table">
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Note</th>
            </tr>
            <tr>
                <td>Casual Breakfast</td>
                <td>August 5th, 2019</td>
                <td>Bring your smile!</td>
            </tr>
        </table>
    </div>
</body>
</html>