body{
  text-align: center;
}
.memberName{
  margin-top: 2px;
}
.personPhoto{
  width: 350px;
  height: 370px;
}
.person{
  margin: 5px auto;
  width: 690px;
  background: #00008f;
  border-radius: 10px;
  float: right;
  padding-top: 10px;
}
.description{
  color: white;
}